@charset "UTF-8";

:root {
  --pulse-slow: 10s;
  --pulse-fast: 4s;
}

body {
  margin: 0;
  font-family: 'UlagadiSans', Arial, sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #29426B;
}


.bgPaleMint{
  background-color: #E2EFEF;
}

.bg-dots{
  background-image: url(../img/home-bgr.png);
  position: relative;
  overflow: hidden;
}

.home_logo_wrapper{
  width: 32vw;
  height: 6.5vw;
  position: absolute;
  top: -16vh;
  bottom: 0;
  left: 17%;
  margin: auto;
  z-index: 10;
}
.home_logo_wrapper img{
  width: 75%;
}
.home_logo_wrapper p{
  font-size: 1.45vw;
}

.ai_icon_wrapper{
  width: 16vh;
  position: absolute;
  left: calc( 50% + 43vh);
  bottom: 22vh;
}

.ai_icon_wrapper img{
  width: 100%;
}

.arm_wrapper{
  width: 92vh;
  height: 40vh;
  position: absolute;
  bottom: 17vh;
  left: calc(50% + 4vh);
}

.arm_wrapper .arm_image{
  width: 100%;
  position: absolute;
  z-index: 5;
  animation: handMove 8s ease-in-out infinite;
}

@keyframes handMove {
  0% { transform: translate( 0vw, 0vw ) rotate(0); }
  50% { transform: translate( 1vw, .5vw ) rotate(2deg); }
  100% { transform: translate( 0vw, 0vw ) rotate(0); }
}

.pulse_wrapper{
  position: absolute;
  width: 50%;
  padding-top: 50%;
  top: -51%;
  left: -24%;
}

.pulse_wrapper .pulse_item{
  width: calc(100% - .4rem);
  height: calc(100% - .4rem);
  border: solid #E8EEF3 .2rem; 
  border-radius: 50%;
  opacity: 1;
  position: absolute;
  transform: scale(0);
  left: 0;
  top: 0;
}

.pulse_wrapper .pulse_item:nth-child(1){
  /*animation: grow var(--pulse-duration) ease-in 0s infinite;*/
  animation: grow var(--pulse-fast) ease-in 0s forwards, grow var(--pulse-slow) ease-in var(--pulse-fast) infinite;
}
.pulse_wrapper .pulse_item:nth-child(2){
  animation: grow var(--pulse-fast) ease-in 1.3s forwards, grow var(--pulse-slow) ease-in calc(var(--pulse-fast) + 3s) infinite;
}
.pulse_wrapper .pulse_item:nth-child(3){
  animation: grow var(--pulse-fast) ease-in 2.6s forwards, grow var(--pulse-slow) ease-in calc(var(--pulse-fast) + 6s) infinite;
}

@keyframes grow {
  0% { transform: scale(0); opacity: 1; }
  90% { opacity: 1; }
  99.9% { transform: scale(1); opacity: 0; }
  100% { transform: scale(0); opacity: 0; }
}


.page_2_wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page_2_box{
  text-align: center;
  width: 35%;
  margin-top: -5%;
}

.page_2_box img{
  width: 43.5%;
  text-align: center;
  position: relative;
  margin-bottom: 2.5rem;
}


.page_2_box p{
  font-weight: 200;
  line-height: 2;
  font-size: 1.25vw;
}


.page_3_wrapper  {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_3_box{
  width: 40%;
  text-align: center;
}

.page_3_wrapper p{
  font-size: 2.2vw;
  line-height: 1.5;
  font-weight: 600;
}

.page_6_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_6_box{
  text-align: center;
  margin-top: -9%;
}

.page_6_wrapper img{
  width: 15%;
  margin-bottom: 4%;
}
.page_6_wrapper p{
  font-size: 2.2vw;
  line-height: 1.5;
  font-weight: 600;
}

/*
#page_4{
  background: rgb(226,239,239);
  background: -moz-linear-gradient(114deg, rgba(226,239,239,1) 0%, rgba(226,239,239,1) 45%, rgba(217,228,228,1) 50%, rgba(240,246,255,1) 50%);
  background: -webkit-linear-gradient(114deg, rgba(226,239,239,1) 0%, rgba(226,239,239,1) 45%, rgba(217,228,228,1) 50%, rgba(240,246,255,1) 50%);
  background: linear-gradient(114deg, rgba(226,239,239,1) 0%, rgba(226,239,239,1) 45%, rgba(217,228,228,1) 50%, rgba(240,246,255,1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2efef",endColorstr="#f0f6ff",GradientType=1);
}*/

#diagonal_colors{
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgb(226,239,239);
  background: -moz-linear-gradient(114deg, rgba(226,239,239,1) 0%, rgba(226,239,239,1) 45%, rgba(217,228,228,1) 50%, rgba(240,246,255,1) 50%);
  background: -webkit-linear-gradient(114deg, rgba(226,239,239,1) 0%, rgba(226,239,239,1) 45%, rgba(217,228,228,1) 50%, rgba(240,246,255,1) 50%);
  background: linear-gradient(114deg, rgba(226,239,239,1) 0%, rgba(226,239,239,1) 45%, rgba(217,228,228,1) 50%, rgba(240,246,255,1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2efef",endColorstr="#f0f6ff",GradientType=1);
}

.scene_headlines {
  width: 80%;
  max-width: 1800px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  top: calc(50% - 38vh);
}
.scene_headlines h3 {
  display: none;
  font-size: 1.25vw;
  font-weight: 100;
}
.scene_headlines h3:first-child {
  color: #4D9898;
}
.scene_headlines h3:last-child {
  color: #94A3CA;
}

.blue_section_wrapper{
  width: 50%;
  height: 100%;
  background-color: #F0F6FF;
  position: absolute;
  right: 0;
}

.scene_wrapper{
  width: 100%;
  height: 100%;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
}


.client_img{
  width: 58.45vh;
  position: absolute;
  left: calc(50% - 58.45vh - 17vh);
  top: calc( 50% - 12vh);
}

.client_img img{
  width: 100%;
  display: block;
}

.m-logo{
  position: absolute;
  background-color: #f0f6ff;
  border-radius: 4px;
}
.m-logo img{
  width: 40%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.scene_03 .client_img .m-logo {
  padding-top: 15%;
  width: 19%;
  right: 9.3%;
  top: 14%;
  transform: skew(-17deg, 0deg);
}

.team_img{
  width: 55.8vh;
  height: 50vh;
  position: absolute;
  left: calc(50% + 55.8vh - 42vh);
  top: calc( 50% - 20vh);
}

.team_girl{
  width: 75.9%;
  display: block;
  position: absolute;
  top: 25%;
  left: 0;
  z-index: 10;
}
.team_boy{
  width: 75.9%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.scene_03 .team_img .m-logo {
  width: 14%;
  left: 7.5%;
  top: 43%;
  transform: skew(17deg, 0deg);
  z-index: 10;
  padding-top: 10%;
}


.bubble_stakeholder {
  position: absolute;
  right: -8.5vw;
  top: -3vw;
  background-color: #EFFBFB;
  padding: 2.75% 5%;
  transform: scale(0) translate(0, 0);
  transform-origin: center;
  transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
  z-index: 15;
}

.bubble_stakeholder.bbl_top{
  border-radius: 40rem 40rem 40rem 0;
}
.bubble_stakeholder.bbl_bttn{
  border-radius: 0 40rem 40rem 40rem;
}

.bubble_stakeholder p{
  color: #4D9898;
  line-height: 1.5;
  font-size: 70%;
}

.bubble_stakeholder.bbl01_readed{
  transform: translate(24%, -240%);
}


.bubble_stakeholder.bbl03_readed{
  transform: translate(0, 0);
}
.bubble_development.bbl04_readed{
  transform: translate(-50%, 218%) scale(0);
}


.bubble_label{
  position: absolute;
  bottom: -3.25vh;
  padding-left: 8.5%;
  font-size: 81%;
  background-image: url(/img/chat-clock.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 9%;
  line-height: 1.5;
}

.bubble_stakeholder .bubble_label{left: 0%;}
.bubble_development .bubble_label{right: 0%;}

.bubble_development {
  position: absolute;
  left: 0;
  top: -14%;
  background-color: #FFFFFF;
  padding: 2.75% 5%;
  transform: scale(0) translate(0, 0);
  transform-origin: center;
  transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
}
.bubble_development.bbl_top{
  border-radius: 40rem 40rem 0rem 40rem;
}

.bubble_development p{
  color: #8593B6;
  line-height: 1.5;
  font-size: 70%;
}

.scene1_bbl_appears_1, .scene1_bbl_appears_2, .scene1_bbl_appears_3{
  transform: scale(1) translate(0, 0);
}

.scene4_bbl_appears_2{
  transform: scale(1.3) translate(0, 0);
}

.bubble_development.bbl04_readed.scene1_bbl_appears_4{
  transform: translate(-50%, 218%) scale(1);
}

.bubble_stakeholder.bbl05_readed.scene1_bbl_appears_5{
  transform: scale(1) translate(-32%, 388%);
}


.days_wrapper {
  position: absolute;
  left: 50%;
  top: calc(50% + 40vh);
  display: flex;
  align-items: center;
  column-gap: 1.4vh;
  transform: scale(0);
  transition: all 400ms cubic-bezier(0,1.47,1,1.54);
}
.days_clock {
  width: 4vh;
  height: 4vh;
  display: block;
  background-color: #ffffff;
  border: 0.2rem solid #29426B;
  border-radius: 50%;
  position: relative;
 
}
.days_copy p{
  font-size: 1.25vw;
  font-weight: 100;
}
.days_copy p span{
  font-weight: 800;
}
.days_copy h5 {
  font-size: 1.05vw;
  line-height: 1.2;
  margin-left: 0%;
  font-weight: 400;
  color: #4d9898;
}
.days_wrapper.clockappears {
  transform: scale(1);
}

.days_wrapper.clockpulse {
  animation: clockpulse 350ms linear 1;
}

@keyframes clockpulse {
  0% { transform: scale(1); }
  90% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.clock_hours{
  width: 36%;
  position: absolute;
  height: 2px;
  background-color: #29426B;
  top: calc(50% - 0px);
  left: 14%;
  transform: rotate(0deg);
  transform-origin: center right;
  
}

.clock_minutes{
  width: 45%;
  position: absolute;
  height: 2px;
  background-color: #29426B;
  top: 50%;
  left: 5%;
  transform: rotate(90deg);
  transform-origin: center right;
  
}

.clock_hours.animate_clock{
  animation: hour_rotate 800ms linear 1;
}
.clock_minutes.animate_clock{
  animation: minute_rotate 400ms linear 2;
}

@keyframes hour_rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes minute_rotate {
  0% { transform: rotate(90deg); }
  100% { transform: rotate(450deg); }
}


.page_9_wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page_9_box{
  text-align: center;
  width: 48.7%;
  margin-top: -5%;
}

.page_9_box p{
  font-weight: 200;
  line-height: 2;
  font-size: 1.25vw;
}

.page_9_box p b{ 
  font-weight: 600;
}

.urgent_wrapper {
  width: 41.85vh;
  position: absolute;
  top: 80%;
  right: calc(50% + 41.85vh/2 + 8vh);
  opacity: 0;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.urgent_wrapper.urgent_wrapper_appears{
  opacity: 1;
  top: calc(50% - 17.85vh);
}

.urgent_wrapper img {
  width: 90.5%;
}

.urgent_wrapper h2 {
  font-size: 200%;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 4%;
}

.urgent_wrapper h5 {
  font-size: 1.05vw;
  line-height: 1.2;
  font-weight: 200;
  color: #4d9898;
}

.urgent_wrapper p {
  font-size: 90%;
  line-height: 1;
  font-weight: 100;
  margin-bottom: 5%;
}


.urgent_client {
  position: absolute;
  right: calc(50% - 33.7vh/2);
  top: calc(50% - 33.7vh/2);
  width: 33.7vh;
}

img.urgent_client_circle {
  width: 100%;
  display: block;
}

.client_expression {
  display: none;
  width: 8%;
  padding-top: 8%;
  background: linear-gradient(180deg, rgba(84,80,161,1) 0%, rgba(115,48,201,1) 41%, rgba(120,43,207,0) 100%);
  position: absolute;
  top: 15%;
  right: 59%;
  transform: rotate(-25deg);
  border-radius: 50%;
  mix-blend-mode: multiply;
}

.exclamation_wrapper{
  position: absolute;
  display: flex;
  column-gap: 0.3rem;
  width: 1.25%;
  left: 32%;
  top: 3%;
  transform: scale(0);
  /*transition: all 400ms cubic-bezier(0,1.47,1,1.54);*/
}

.exclamation_wrapper.exclamation_appears{
  /*transform: scale(1);*/
  animation: exclamation_appears 350ms ease-in-out forwards, exclamation 600ms ease-in-out infinite 350ms;
}


@keyframes exclamation_appears {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes exclamation {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}


.exclamation_wrapper img{
  width: 100%;
  display: block;
}

.scene_02 .team_img {
  left: calc(50% + 55.8vh - 30vh);
  top: calc( 50% - 10vh);
}

.scene_02 .bubble_development{
  top: 26%;
  left: -15%;
}
.scene_02 .bubble_development.scene2_bblDv_appears{
  transform: scale(1);
}

.scene_02 .bubble_stakeholder{
  top: 8%;
  right: auto;
  left: 52%;
}
.scene_02 .bubble_stakeholder.scene2_bblStack_appears{
  transform: scale(1);
}


@media (max-height: 51vw) {
  .urgent_wrapper h2 {
    font-size: 180%;
  }
  .urgent_wrapper p {
    font-size: 82%;
  }

}

.logo-scene {
  width: 12rem;
  margin: auto;
  top: 4%;
  left: 0;
  right: 0;
  position: absolute;
}
.logo-scene img {
  width: 100%;
  display: block;
}

.scene_03 .client_img {
  width: 48.45vh;
}

.scene_03 .team_img {
  left: calc(50% + 55.8vh - 30vh);
  top: calc( 50% - 20vh);
}

.scene_03 .bubble_development{
  top: 18%;
  left: -29%;
}
.scene_03 .bubble_development.scene2_bblDv_appears{
  transform: scale(1);
}

.happy-face {
  position: absolute;
  width: 4%;
  left: 36.3%;
  top: 6%;
  display: none;
}


.scene_03 .happy-face img{
  width: 100%;
  display: block;
}

.scene_03 .bubble_stakeholder {
  top: -15%;
  right: -36%;
}

.scene_03 .bubble_stakeholder.scene2_bblStack_appears{
  transform: scale(1);
}

.singleLabel_stakeholder {
  position: absolute;
  right: -30%;
  top: 46%;
  font-size: 86%;
  display: none;
}

.scene_04 .client_img {
  width: 47vh;
  left: calc(50% - 58.45vh - 20vh);
  top: calc( 50% - 8vh);
}

.scene_04 .team_img {
  width: 35vh;
  height: 34vh;
  left: calc(50% + 55.8vh - 16vh);
  top: calc( 50% - -6vh);
}

.scene_04 .client_img .m-logo {
  padding-top: 15%;
  width: 19%;
  right: 9.3%;
  top: 14%;
  transform: skew(-17deg, 0deg);
}

.scene_04 .team_img .m-logo {
  width: 14%;
  transform: skew(17deg, 0deg);
  z-index: 10;
  padding-top: 10%;
}

.scene_04 .team_img .m-logo.nb-boy {
  left: 31.5%;
  top: 12%;
}

.scene_04 .team_img .m-logo.nb-girl{
  left: 7.5%;
  top: 42%;
}

.app_screen {
  background-color: #fff;
  width: 94%;
  padding-top: 48%;
  position: absolute;
  top: -18%;
  right: -53%;
  z-index: -1;
  box-shadow: -5px 4px 12px 1px rgb(95 138 141 / 25%);
  transform: scale(0);
  opacity: 0;
  transition: all 600ms ease-in-out;
}

.app_screen.app_screen_appears {
  top: -56%;
  transform: scale(1);
  opacity: 1;
}

.scene_04 .bubble_stakeholder:nth-of-type(1){
  right: -49%;
  top: 6%;
}

.scene_04 .bubble_stakeholder:nth-of-type(2){
  right: 4%;
  top: 49%;
}

.replay-bttn{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .25rem 1rem;
  width: 5rem;
  color: #EFFBFB;
  font-size: 90%;
  border-radius: 30rem;
  font-weight: 400;
  background-color: #4D9898;
  top: calc(50% + 20vh);
  right: calc(50% + 15vh);
  cursor: pointer;
  transform: scale(0);
  opacity: 0;
  transition: all 200ms ease-in;
}

.replay-bttn.replay-appears{
  opacity: 1;
  transform: scale(1);
}

.replay-bttn img{
  width: 1rem;
  display: block;
  transform: rotate(0deg);
  transition: all 350ms ease-in-out;
}

.replay-bttn:hover img{
  transform: rotate(-360deg);
}

.team_task img{
  position: absolute;
  left: -63%;
  top: -8%;
  width: 160%;
  z-index: -1;
  box-shadow: -5px 4px 12px 1px rgb(95 138 141 / 25%);
  transform: scale(0);
  opacity: 0;
  transition: all 600ms ease-in-out;
}

.team_task.team_task_appears img{
  top: -58%;
  transform: scale(1);
  opacity: 1;
}

.great_icon {
  position: absolute;
  width: 18%;
  top: -18%;
  right: 28%;
  display: none;
}

.great_icon img{
  width: 100%;
}

.app_request_wrapper{
  position: absolute;
  width: 96%;
  height: 97%;
  top: 0;
  left: 0;
  padding: 1% 2%;
}

.app_request_wrapper section{
  width: 92%;
  display: flex;
  font-size: 50%;
  align-items: center;
  padding: 0 4%;
}

.app_request_wrapper section:not(:first-child) {
  height: 15%;
  position: absolute;
  top: 1%;
  left: 0;
  background-image: url("/img/row_dots.png");
  background-repeat: no-repeat;
  background-size: 0%;
  background-position: 3% 50%;
  background-color: #fff;
  transition: all 350ms linear;
}

.app_request_wrapper section.grab-hover{
  animation: row_appears 400ms ease-out 1;
  /*left: -2%;*/
}

.app_request_wrapper section.grab-hold{
  background-size: 2%; background-color: #F5F5F5;
}
/*
.app_request_wrapper section.row-to-top{
  animation: row_toTop 400ms ease-out forwards;
}

*/
@keyframes row_appears {
  0% { background-size: 0%; background-color: #FFFFFF; }
  30% { background-size: 2%; background-color: #F5F5F5; }
  85% { background-size: 2%; background-color: #F5F5F5; }
  100% { background-size: 0%; background-color: #FFFFFF; }
}
/*
@keyframes row_toTop {
  0% { top: 65%; }
  100% { top: 20%;  }
}
*/

.app_request_wrapper.row-to-top section:nth-child(2){
  top: 35%;
}
.app_request_wrapper.row-to-top section:nth-child(3){
  top: 50%;
}
.app_request_wrapper.row-to-top section:nth-child(4){
  top: 65%;
}
.app_request_wrapper.row-to-top section:nth-child(5){
  top: 20%;
}
.app_request_wrapper.row-to-top section:nth-child(6){
  top: 80%;
}

.app_request_wrapper section:first-child{
  color: #B3B3B3;
  border-bottom: solid 1px #B3B3B3;
  height: 14%;
}

.app_request_wrapper section:nth-child(2){
  top: 20%;
}
.app_request_wrapper section:nth-child(3){
  top: 35%;
}
.app_request_wrapper section:nth-child(4){
  top: 50%;
}
.app_request_wrapper section:nth-child(5){
  top: 65%;
}
.app_request_wrapper section:nth-child(6){
  top: 80%;
}


.app_request_wrapper section div{
  display: flex;
  padding: 0 2%;
  column-gap: 8%;
  align-items: center;
}

.app_request_wrapper section div:nth-child(1){
  width: calc( 42% - 6%);
  padding: 0px 2% 0 4%;
}
.app_request_wrapper section div:nth-child(2){
  width: calc( 32% - 4%);
}
.app_request_wrapper section div:nth-child(3){
  width: calc( 26% - 4%);
}

.app_request_wrapper section img{
  width: 23%;
  height: auto;
}

.hand_icon{
  width: 5.5%;
  height: auto;
  position: absolute;
  top: 109%;
  left: 13%;
  z-index: 1;
  transform: scale(0);
  /*transition: all 350ms ease-in-out ;*/
  
}
.hand_icon img{
  width: 100%;
}

.hand_icon.hand_appears{
  animation: hand_appears 3000ms ease-out forwards;
}

@keyframes hand_appears {
  0%{ top: 109%; left: 13%; transform: scale(0);}
  12%{ top: 95%; left: -1%; transform: scale(1);}
  55%{ top: 60%; left: 1%; transform: scale(1);}
  56%{ top: 66%; left: 1%; transform: scale(1);}
  69%{ top: 66%; left: 1%; transform: scale(1);}
  90%{ top: 22%; left: 1%; transform: scale(1);}
  94%{ top: 22%; left: 1%; transform: scale(1);}
  100%{ top: 32%; left: -16%; transform: scale(0);}
}

.logo_slides{
  width: 15vw;
  text-align: center;
  position: relative;
  margin-bottom: 2.5rem;
}

.page_10_wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page_10_box{
  text-align: center;
  width: 61.35%;
  margin-top: -5%;
}

.page_10_box p{
  font-weight: 400;
  line-height: 2;
  font-size: 1.9vw;
}

.sneak_peak_wrapper {
  display: flex;
  column-gap: 3%;
  flex-direction: row;
  width: 100%;
  margin-top: 3%;
}
.sneak_peak_wrapper img { 
  width: 22.75%;
  opacity: 0;
  position: relative;
  top: 0;
}

.sneak_peak_wrapper img.sneak_peak_appears {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.page_11_wrapper{
  width: 100%;
  height: 100%;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_11_logo {
  display: flex;
  justify-content: center;
}

.team_advante{
  display: flex;
  align-items: center;
}

.team_advante_oscar{
  width: 64%;
  display: flex;
  column-gap: 3%;
}
.oscar_pic {
  width: 28.3%;
}
.oscar_pic img {
  width: 100%;
}

.oscar_bio{
  flex: 1;
  font-size: 90%;
  font-weight: 400;
}
.oscar_bio p{
  line-height: 1.5;
}

.oscar_bio p span {
  font-weight: 200;
}

.oscar_bio h2 {
  font-size: 220%;
  font-weight: 400;
  margin-bottom: 2%;
}
.oscar_bio h4 {
  font-weight: 400;
  margin-top: 3%;
}

.oscar_bio ul{
  padding-left: 3%;
  margin-top: 2%;
}

.oscar_bio li {
  list-style: disc;
  line-height: 1.25;
  margin-bottom: 2%;
}

.team_advante_team{
  width: 36%;
}
.team_advante_team img{
  width: 100%;
}

.page_12_wrapper{
  width: 100%;
  height: 100%;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_12_Rbox {
  position: absolute;
  left: 60%;
  width: 30%;
}

.page_12_logo {
  text-align: center;
  width: 14rem;
}
.page_12_logo img {
  width: 100%;
}

.page_12_Lbox {
  position: absolute;
  right: 55%;
  width: 35%;
}
.page_12_wrapper h5 {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.page_12_Rbox p {
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 1.55;
  margin-top: 1rem;
}

.page_12_Lbox h3 {
  font-size: 1.95rem;
  margin-bottom: 2rem;
}
.page_12_Lbox ul {
  columns: 2;
}
.page_12_Lbox li {
  font-size: .9rem;
  line-height: 1.5;
}

.page_14_wrapper{
  width: 100%;
  height: 100%;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_14_box {
  width: 83%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_14_logo{
  text-align: center;
}

.page_14_box p {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 2rem;
}
.page_14_box p a {
  font-weight: 400;
  color: #4D9898;
}
.calendar {
  width: 15rem;
  display: block;
}
.calendar img{
  width: 100%
}

.thnxs_wrapper {
  text-align: center;
}
.thnxs_wrapper h4 {
  font-size: 220%;
  margin-bottom: 1%;
}
.thnxs_wrapper p {
  font-size: 110%;
  line-height: 1.35;
  font-weight: 200;
}

.page_13_wrapper{
  width: 100%;
  height: 100%;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_13_box{
  width: 83%;
  margin-top: -6rem;
}
.page_13_logo{
  text-align: center;
}

.circles_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  position: relative;
}

.serie_circle {
  border-radius: 50%;
  display: flex;
  line-height: 1.35;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: scale(0);
  transition: all 350ms cubic-bezier(.06,.91,.81,1.12);
}
.serie_circle.circle_grow_up {
  transform: scale(1);
}



.serie_circle:nth-of-type(1) {
  width: 9rem; height: 9rem; background-color: #CCDAFF;
}

.serie_circle:nth-of-type(2) {
  width: 13rem; height: 13rem; background-color: #93B1FF;
}

.serie_circle:nth-of-type(3) {
  width: 18rem; height: 18rem; background-color: #B6E5E3;
}

.circle_arrow {
  width: 3.75rem;
  position: relative;
  height: 1.5rem;
  overflow: hidden;
  display: flex;
}

.circle_arrow img {
  width: 100%;
  position: relative;
  display: block;
  top: 0;
  left: -100%;
  transition: left 350ms ease-in-out;
}
.circle_arrow.arrow_appears img{
  left: 0;
}

.product_dev_add {
  width: 6.5rem;
  height: 5rem;
  position: absolute;
  padding-bottom: 0.5rem;
  color: #ccdaff;
  display: flex;
  justify-content: center;
  align-items: center;
  left: calc(50% - 27rem);
  top: calc(50% + 7rem);
  font-size: 90%;
  text-align: center;
  background-image: url(/img/circle_arrow_grow.svg);
  background-size: cover;
  background-position: center;
  transform: translateY(0rem);
  opacity: 0;
  transition: all 350ms ease-in;
}

.product_dev_add.addAppears {
  transform: translateY(-1rem);
  opacity: 1;
}

.product_invest{
  position: absolute;
  left: calc(50% - 17rem);
  top: calc(50% + 8rem);
  font-size: 85%;
  line-height: 1.45;
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.product_invest.investAppears{
  opacity: 1;
}

.product_invest h5{
  font-weight: 800;
  margin-bottom: .5rem;
}
.product_invest ul{
  padding-left: 1rem;
}
.product_invest ul li{
  list-style: disc;
}
.product_invest_arrow{
  position: absolute;
  width: .7rem;
  height: 7rem;
  top: -7.35rem;
  left: -.25rem;
  overflow: hidden;
}
.product_invest_arrow img{
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  transition: top 250ms ease-in;
}
.product_invest.investAppears .product_invest_arrow img{
  top: 0;
}

@media (max-width: 1280px) {
  .oscar_bio {
    font-size: 68%;
  }
  .serie_circle{
    font-size: .85rem;
  }
  .serie_circle:nth-of-type(1) { 
    width: 7rem; height: 7rem; background-color: #CCDAFF;
  }
  .serie_circle:nth-of-type(2) {
    width: 10rem; height: 10rem; background-color: #93B1FF;
  }
  .serie_circle:nth-of-type(3) {
    width: 14rem; height: 14rem; background-color: #B6E5E3;
  }

  .product_invest {
    left: calc(50% - 14rem);
  }
  .product_dev_add {
    width: 5.5rem;
    height: 4rem;
    font-size: 80%;
    left: calc(50% - 22.75rem);
    top: calc(50% + 5.5rem);
  }
}
/*
@media (max-width: 860px) {
  .serie_circle:nth-of-type(1) { 
    width: 7rem; height: 7rem; background-color: #CCDAFF;
  }
  .serie_circle:nth-of-type(2) {
    width: 10rem; height: 10rem; background-color: #93B1FF;
  }
  .serie_circle:nth-of-type(3) {
    width: 14rem; height: 14rem; background-color: #B6E5E3;
  }
}
*/

@media (max-width: 860px) {
  .page_13_box {
    width: 90%;
  }
  .circles_wrapper {
    column-gap: 0.5rem;
  }
  .circle_arrow {
    width: 2.5rem;
  }
  .serie_circle {
    font-size: .75rem;
  }
  .serie_circle:nth-of-type(1) {
    width: 6.5rem;
    height: 6.5rem;
  }
  .serie_circle:nth-of-type(2) {
    width: 8rem;
    height: 8rem;
  }
  .serie_circle:nth-of-type(3) {
    width: 11rem;
    height: 11rem;
  }
  .product_invest {
    left: calc(50% - 9.2rem);
    font-size: 75%;
  }
  .product_dev_add {
    width: 5.25rem;
    height: 3.5rem;
    font-size: 75%;
    font-weight: 600;
    left: calc(50% - 15.75rem);
    top: calc(50% + 4.7rem);
  }
}


@media (max-width: 690px) {
  .home_logo_wrapper {
    width: 16rem;
    height: 4rem;
  }
  .arm_wrapper {
    bottom: calc(50% - 15rem);
    left: calc(50% - 4rem);
    width: 20rem;
    height: 10rem;
  }
  .home_logo_wrapper p {
    font-size: .7rem;
  }
  .ai_icon_wrapper {
    width: 4rem;
    position: absolute;
    left: calc( 50% + 3rem);
    bottom: calc(50% - 20rem);
  }

  .days_wrapper {
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: start;
    top: calc(50% + 15rem);
    column-gap: 0.35rem;
  }
  .days_clock {
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #29426B;
  }
  .days_copy h5 {
    font-size: .7rem;
  }
  .days_copy p {
    font-size: 0.8rem;
  }

  .page_2_box {
    width: 75%;
  }
  .page_2_box p {
    font-size: .9rem;
    line-height: 1.75;
  }
  .page_3_box {
    width: 75%;
  }
  .page_3_wrapper p {
    font-size: 1rem;
  }
  .page_6_wrapper img {
    width: 35%;
  }
  .page_6_wrapper p {
    font-size: 0.95rem;
  }
  .page_9_box {
    width: 75%;
  }
  .logo_slides {
    width: 50%;
    margin-bottom: 1.5rem;
  }
  .page_9_box p{
    font-size: .85rem;
  }
  .page_10_box{
    width: 75%;
  }
  .page_10_box p{
    font-size: .8rem;
    line-height: 1.35;
  }
  .sneak_peak_wrapper {
    margin-top: 2rem;
  }
  .sneak_peak_wrapper img {
    width: calc(50% - .5rem) !important;
  }
  .sneak_peak_wrapper {
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .page_11_box {
    width: 75%;
  }
  .team_advante {
    flex-direction: column;
  }
  .team_advante_oscar {
    flex-direction: column;
    width: 100%;
  }
  .team_advante_team{
    width: 100%;
  }
  .page_12_Lbox {
    width: 90%;
    right: auto;
    left: auto;
    top: 0;
  }
  .page_12_Rbox {
    width: 90%;
    left: auto;
    right: auto;
    top: 0;
  }




  .page_14_box {
    width: 75%;
  }
  .page_14_box p {
    font-size: .8rem;
    line-height: 1.35;
  }
  .calendar {
    width: 7rem;
  }

  #diagonal_colors {
    background: -moz-linear-gradient(172deg, rgba(226,239,239,1) 0%, rgba(226,239,239,1) 45%, rgba(217,228,228,1) 50%, rgba(240,246,255,1) 50%);
    background: -webkit-linear-gradient(172deg, rgba(226,239,239,1) 0%, rgba(226,239,239,1) 45%, rgba(217,228,228,1) 50%, rgba(240,246,255,1) 50%);
    background: linear-gradient(172deg, rgba(226,239,239,1) 0%, rgba(226,239,239,1) 45%, rgba(217,228,228,1) 50%, rgba(240,246,255,1) 50%);
  }
  .scene_headlines {
    top: 0;
    height: 100%;
  }
  .scene_headlines h3 {
    font-size: 1rem;
  }
  .client_img {
    left: 2rem;
    width: 9rem;
    top: calc( 50% - 9rem);
  }
  .bubble_stakeholder {
    right: -9rem;
    top: -3.75rem;
    padding: 4px 14px;
  }
  .bubble_label {
    left: 0%;
    font-size: .7rem;
    padding-left: 1.25rem;
  }
  .bubble_stakeholder.bbl01_readed {
    transform: translate(8%, -250%);
  }
  .bubble_stakeholder.bbl05_readed.scene1_bbl_appears_5 {
    transform: scale(1) translate(12%, 275%);
  }
  .team_img {
    left: calc(50% + 2rem);
    width: 9rem;
    height: 13rem;
    top: calc(50% + 7rem);
  }
  .team_boy {
    top: 1rem;
  }
  .bubble_development {
    left: -5rem;
    top: -3.5rem;
    padding: 4px 14px;
    max-width: 10rem;
  }
  .bubble_development.bbl04_readed.scene1_bbl_appears_4 {
    transform: translate(-55%, 190%) scale(1);
  }
  .bubble_development br{
    display: none;
  }
  .urgent_client {
    position: absolute;
    right: calc(50% - 2rem);
    top: calc(50% - 7rem);
    width: 11rem;
  }
  .scene_02 .team_img {
    left: calc(50% + 0rem);
    top: calc( 50% + 7rem);
    width: 10rem;
  }
  .urgent_wrapper {
    width: 18rem;
    right: calc( 50% - 9rem);
  }
  .urgent_wrapper img {
    width: 75%;
  }
  .urgent_wrapper h2 {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }
  .urgent_wrapper h5 {
    font-size: 1rem;
  }
  .urgent_wrapper p {
    font-size: 0.7rem;
  }
  .urgent_wrapper.urgent_wrapper_appears {
    top: calc(50% - 20rem);
  }
  .scene_02 .bubble_development {
    top: 3%;
    left: -97%;
    padding: 6px 10px 6px 18px;
    border-radius: 1rem 1rem 0rem 1rem;
  }
}